# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# VS Code
.vscode/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JetBrains Rider
.idea/**/workspace.xml  
.idea/**/tasks.xml  
.idea/**/usage.statistics.xml  
.idea/**/dictionaries  
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/  
.idea/**/dataSources.ids  
.idea/**/dataSources.local.xml  
.idea/**/sqlDataSources.xml  
.idea/**/dynamic.xml  
.idea/**/uiDesigner.xml  
.idea/**/dbnavigator.xml

# Temporary files
*.tmp  
*.tmp_proj
*.log
